.About {
    position: relative;
	background: #1E1F21;
    font-family: 'Consolas', sans-serif;
    padding-top: 50px;
    padding-bottom: 70px;
}

.About .npm {
    margin: auto;
    max-width: 800px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
	color: #FDFFF2;
    line-height: 20px;
    padding-bottom: 40px;
}

.About p {
    margin: auto;
    max-width: 800px;
    font-size: 14px;
    font-weight: normal;
	color: #FDFFF2;
    line-height: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.About p span {
    color: rgb(197, 175, 114);
}