.About {
    position: relative;
    top: 90px;
    height: 490px;
    width: 100%;
    background-color: #202125;
    align-content: center;
}

.About .Content {
    padding: 15px;
    position: relative;
    margin: auto;
    display: block;
    max-width: 1024px;
    height: 100%;
    color: aliceblue;
}