.Work {
    position: relative;
	background: #87515D;
    font-family: 'Consolas', sans-serif;
    padding-top: 50px;
    padding-bottom: 70px;
}

.Work h1 {
    margin: auto;
    max-width: 800px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
	color: #FDFFF2;
    line-height: 20px;
    padding-bottom: 40px;
}

.Work p {
    margin: auto;
    max-width: 800px;
    font-size: 14px;
	color: #FDFFF2;
    line-height: 20px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.Work p span {
    color: #27182D;
}


.Work p a:link {
    color: rgb(26, 12, 14);
    text-decoration: none;
}

.Work p a:visited {
    color: rgb(26, 12, 14);
    text-decoration: none;
}

.Work p a:hover {
    font-weight: bold;
}