.App {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Helvetica";
    font-weight: 300;
    font-size: 24px;
	background: white;
}
.main {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.symbol {
    font-size: 3em;
    margin: auto;
}

.name {
    font-size: 3em;
    letter-spacing: -0.3px;
    line-height: 65%;
    text-transform: uppercase;
}

.name .surname {
    font-size: 0.7em;
    letter-spacing: -1.2px;
}

.main:hover {
    color: rgb(119, 119, 119);
    text-shadow: 7px 6px 0px #CECECE;
}

.contact {
    position: fixed;
    top: 40px;
    right: 40px;
    font-size: 1.5em;
    color: #333333;
    font-size: 1.2em;
    font-weight: 400;
}

.contact a {
    text-decoration: none;
    color: inherit;
}

.title {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: 400;
    color: rgb(255, 65, 160);
    text-shadow: 3px 3px 0px #CECECE;
}

.links {
    position: fixed;
    display: inline-block;
    right: 0;
    width: 17%;
}

.links .image {
    position: relative;
    width: 47%;
    padding: 6px;
}
