body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	background: rgb(118,168,181);
	background: -moz-linear-gradient(left, rgb(118,168,181) 0%, rgb(86,138,153) 41%, rgb(49,111,128) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgb(118,168,181)), color-stop(41%, rgb(86,138,153)), color-stop(100%, rgb(49,111,128)));
	background: -webkit-linear-gradient(left, rgb(118,168,181) 0%, rgb(86,138,153) 41%, rgb(49,111,128) 100%);
	background: -o-linear-gradient(left, rgb(118,168,181) 0%, rgb(86,138,153) 41%, rgb(49,111,128) 100%);
	background: -ms-linear-gradient(left, rgb(118,168,181) 0%, rgb(86,138,153) 41%, rgb(49,111,128) 100%);
	background: linear-gradient(to right, rgb(118,168,181) 0%, rgb(86,138,153) 41%, rgb(49,111,128) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76a8b5', endColorstr='#316f80', GradientType=1 );
}

h1 {
	background: rgba(170, 170, 170, 0.3);
	border-radius: 10px;
	padding: 0px 10px 0px 10px;
	pointer-events: none;
	position: absolute;
	margin: 30%;
	font-size: 600%;
	font-weight: 100;
	letter-spacing: -3px;
	color: #afffff;
	z-index: 1 !important
}

span {
	color: #dfedff;
}
