body {
    width: 960px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	position: absolute;
	background: #3b8d99;
	background: -webkit-radial-gradient(50% 30%, #3b8d99 -50%, #aa4b6b 180%);
	background: radial-gradient(at 50% 30%, #3b8d99 -50%, #aa4b6b 180%);

    background-repeat: no-repeat;
    background-attachment: fixed;
}